.Description,.Title{
    text-align: center;
}

#MainTitle{
    font-size: 100px;
    color:brown;
    margin-bottom: auto;
}


.Image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}